/* div {
    box-sizing: border-box;
} */
*{
	margin: 0px;
	padding:0px;
}
.sol-menu {
	width: 25%;
	height: 100%;
	background: rgb(255, 255, 255);
	/* float: left; */
	position: fixed;
	/* position: relative; */
	/* text-align:center; */
	padding: 0% 3% 0% 2%;
}
.inside{
	position: relative;
	/* padding: 0% 10% 0% 10%; */
}
.text-1{
	text-decoration: none;
	/* background-color: aqua; */
	color: rgb(0, 0, 0);
	font-size: 200%;

	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

	/* position: relative;
    left: 10%;
	top: 10%;
	margin-bottom: 10%; */
}
.hrz {
	height: 0.5px;
	width: 40%;
	background-color: rgba(144, 144, 165, 0.753);
	/* position: relative;
	top: 10%; */
	margin: 10% 0 10%  0 ;
}
.text-2{
	text-decoration: none;
	/* background-color: aqua; */
	color: rgba(168, 166, 166, 0.685);
	font-size: 80%;
	/* float: inline-start; */
}
.text-3{
	text-decoration: none;
	/* background-color: aqua; */
	color: rgba(168, 166, 166, 0.87);
	font-size: 80%;
	/* float: inline-start; */
}
.text-3:hover{
	/* text-decoration: none; */
	/* background-color: aqua; */
	color: rgb(0, 0, 0);
	/* font-size: 200%; */
}
.left-image{
	opacity: 0.5;
}
.left-image:hover{
	opacity: 1;
}
.text-4{
	text-decoration: none;
	/* background-color: aqua; */
	color: rgb(90, 80, 80);
	font-size: 80%;
	/* float: inline-start; */
}
.main {
	width: 62%;
	height: auto;
	/* height: 4500px; */
	background: rgba(185, 185, 185, 0.589);
	/* float: left; */
	/* left: 25%; */
	margin-left: 32%;
	padding: 3% 3% 3% 3%;
}
.main-content{
	background: white;
	width: 100%;
	height: auto;
	border-radius: 6px;
	/* text-align: center; */
	/* margin: 0% 0% 3% 0%; */
	margin-bottom: 5%;
}
.image-container{
	height: 200px;
	width: 100%;
	border-radius: 6px 6px 0px 0px;
	overflow: hidden;
	top: 25px;
}
/* .image-container a img{
} */
.main-content-image{
  object-fit: cover;
  /* height:230px; */
  width:100%;
}
.main-content-image:hover{
	opacity: 0.6;
}
.main-content-header{
	font-size: 200%;
	/* font-weight: bold; */
	padding: 0% 0% 3% 15%;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	color: black;
	text-decoration: none;
}
.main-content-desc{
	font-size: 100%;
	opacity: 0.5;
	padding: 0% 3% 3% 3%;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.main-content-bottom{
	font-size: 70%;
	opacity: 0.5;
	padding: 0% 3% 3% 3%;
}
.main-content-desc a{
	text-decoration: none;
	color: inherit;
	font-size: 80%;
}
.main-content-bottom a{
	text-decoration: none;
	color: inherit;
	font-size: 90%;
}
.all-posts{
	background: rgb(122, 122, 122);
	width: 15%;
	height: 10%;
	border-radius: 6px;
	text-align: center;
	/* margin-top: 10%; */
	padding: 2%;
	color: white;
	text-decoration: none;
}
.all-posts:hover{
	background-color: rgb(58, 58, 58);
}
.webflow{
	background: rgb(255, 255, 255);
	width: 120px;
	height: 20px;
	border: solid 1px rgb(173, 173, 173);
	/* border-width: 1px; */
	border-radius: 4px;
	text-align: center;
	/* vertical-align: center; */
	/* margin-top: 10%; */
	padding: 2px;
	color: rgb(0, 0, 0);
	text-decoration: none;
	position: fixed;
	right: 20px;
	bottom: 20px;
}
.webflow img{
	/* top: 10px; */
	width: 15px;
	height: 15px;
	vertical-align: bottom;
}
/* @media screen (max-width 1440px){


} */